
main{
    grid-area:body;
    display:grid;
    width: 100%;
    grid-template-areas:"image image"
                        "home home"
                        "directory directory";
    grid-template-columns: 1fr; 
    grid-row-gap: 20px; 
    justify-items: center;
}

.image-placeholder {
    grid-area: image;
    align-self: center;
    width: 80%;
    height: 300px;
    background-color: #ccc;
    background-image: url('../images/plaza.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    
}
.seccion2{
    grid-area:home;
    position:relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 20px;
    width: 80%;
    padding-top: 50px;
}
.seccion2:before{
    position:absolute;
    content: "Home";
    top: -10px;
    color: black;
    font-size: 35px;
}
.seccion3{
    grid-area:directory;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}
.card::before{
    content:attr(data-title);
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 5px;
}
.weather-today {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.weather-info {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.1rem;
    text-align: start;
}

.weather-icon {
    font-size: 5rem; 
    display: flex;
    align-self: flex-start;
}
.card2 {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    height: 150px;
}
.card3 {
    position:relative;
    display: flex;
    justify-content: space-between;  
    background-color: #ccc;
    align-items: center;  
    padding-top: 30px;
    margin: 1px;

}
.card3::before{
    content: attr(data-title) "\A" attr(data-subtitle); 
    white-space: pre-line; 
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}
.info-container {
    flex: 1;  
    margin-right: 20px; 
    width: 100%;
}

.icon-container {
    width: 150px;
    height: 150px;
    background-color: white;  
    margin: 30px;
}

@media (max-width: 768px) {
    main{
        grid-area:body;
        display:grid;
        width: 100%;
        grid-template-areas:"image"
                            "home"
                            "directory";
        grid-column: auto;
        padding: 0;       
    }
    .image-placeholder {
        grid-area: image;
        width: 100%;
    }
    .seccion2{
        grid-area:home;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        padding-top: 40px;

    }
    .card {
        background-color: #ccc;
        padding: 20px;
        border: 1px solid #999;
        text-align: center;
    }
    .seccion3{
        grid-area:directory;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
    }
    .card3 {
        position:relative;
        display: flex;
        justify-content: space-between;  
        background-color: #ccc;
        align-items: center;  
        padding-top: 30px;
        margin: 1px;
        width: 90%;
    
    }
    .card3::before{
        content: attr(data-title) "\A" attr(data-subtitle); 
        white-space: pre-line; 
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
    }
    .info-container {
        flex: 1;  
        margin-right: 20px; 
        width: 100%;
    }
    
    .icon-container {
        width: 150px;
        height: 150px;
        background-color: white;  
        margin: 30px;
    }
}